.post {
	margin-top: 8%;
	width: 100%;
	height: 30vh;
	* {
		color: white;
	}
}

.title {
	color: rgb(16, 171, 255);
	font-size: 1.4em;
}

.desc {
	font-size: 1em;
}

.owner {
	color: rgb(144, 41, 217);
	font-size: 0.8em;
}
